/.venv
.DS_Store
**/dummy*.txt
**/.ipynb_checkpoints
**/__pycache__/

# Do not include the strain lists from labs
/Lab_strains/**/*.xlsx
/Lab_strains/**/*.tsv
/Lab_strains/**/*.csv
/Lab_strains/**/*.fp7
/Lab_strains/**/*.tab
/Lab_strains/**/*.txt
/Lab_strains/**/*.json

/allele_components/tags_fpbase.toml
/grammar/*.txt

/genestorian_module/test/alleles_pattern*
/genestorian_module/test/common_pattern.json
/genestorian_module/test/common_pattern_count.txt
/genestorian_module/test/most_common_other_tag.txt
/genestorian_module/test/nltk_trees_dataset/nltk_trees.json